body{
    margin-top: -8px;
    margin-left: -5px;
    width: 100vw;
    overflow-x: hidden;
}
.video{
    width: 100vw;
    margin-top: -60px;
}
.logo{
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
}
.nevbar{
    display: flex;
    color: black;
    align-content: center;
}
.left_nevbar{
    display: flex;
    align-items: center;
    margin-top: -1020px;
    
}